.akc-text {
    text-align: justify !important;
}

.custom-color {
    color: #D3AA6A !important;
}

.custom-seo {
    width: 350px;
}

.custom-sm {
    width: 420px;
}

.custom-ym {
    width: 405px;
}

.custom-justify {
    text-align: justify !important;
}